
<div id="error">
<% if session[:error] %>
<%= session[:error] %>
<% session[:error] = nil %>
<% end %>
</div>

<div id="login-form">
<form action="/login" method="POST">
  <div class="username-input">
    Username<input type="text" name="user[name]">
  </div>

  <div class="password-input">
    Password<input type="password" name="user[password]">
  </div>

  <div class="login-submit">
    <input type="Submit" value="Login">
  </div>

</form>
</div>