/* CSS declarations go here */

body {
  background-color: #7FFFD4;
  font-family: 'Montserrat', sans-serif;
}

#sign-up-link {
  text-align: center;

}

#sign-up-link a {
  text-decoration: none;
}

#music-space-header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#sign-up-form {
  text-align:center;
}

#sign-up-header {
  text-align: center;
}

#error {
  text-align: center;
}


#login-form {
  text-align: center;
  font-size:20px;
  position:relative;
  top:50px;

}

.login-submit {
  padding-top: 10px;
}

.username-input {
  padding-bottom: 20px;
  position:relative;
  right:3px;
}


#login-toolbar a {
  font-size:20px;
  text-decoration: none;
}


a.logout {
  padding-bottom: 20px;
}

.username-profile-header {
  text-align: center;
}

.delete-account {
  position:relative;
  top:-60px;
}

.all-artists-link {
  text-align: center;
  font-size:3em;

}

.all-artists-link a {
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  color:white;
}

.followed-artists-list {
  padding-top: 40px;
  text-align: center;
  font-size:25px;
}

li {
  list-style-type: none;
}


.follow-button {

}

.unfollow-button {

}

.artist-name-header {
  text-align: center;
  font-size: 30px;
}

.artist-content {
  text-align: center;
}



.artist-photo {
  text-align: center;
  padding-bottom: 5px;
}

.artist-bio {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:30px;
  margin:3px;
  position:relative;
  top:-50px;
}

.feedback-section {
  text-align: center;
}

.comment-section {
  text-align: center;

}

.comment-textbox {
  text-align: center;
}

.submit-button {
  position:relative;
  top:50px;
  right:80px;
}

div.comment-area {
  text-align: center;
  position: relative;
  bottom:-40px;
}

.all-artists-section {
  text-align: center;
}

.all-artists-header {
  text-align: center;
  font-size:70px;
}

.submit-new-artist {
  text-align: center;
  padding-top:50px;
}

.submit-new-artist-header {
  text-align: center;
  font-size: 50px;
}


.artist-name-input {
  text-align: center;
  font-size: 40px;
}

.artist-pic-input {
  text-align: center;
  font-size: 40px;
  position:relative;
  right:13px;
  padding-top:5px;
}

.artist-bio-input {
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
  position: relative;
  right:-20px;
}



.like {
  height:20px;
  width:20px;
}

.hide {
  display:none;
}

