<body class="bg-black">

  <h1 id="all-artists-header" class="white center">All Artists</h1>

  <div id="all-artists-section" class="white">
  <ul class="center">
  <% @all_artists.each do |artist| %>
    <li><a class="aqua" href="/artist/<%= artist.id %>"><%= artist.name %></a></li>
  <% end %>
  </ul>
  </div>

  <div id="submit-new-artist" class="center">
    <a class="red" href="/artist/new">Don't see one you like? Click here to submit a new artist.</a>
  </div>
</body>