<ul>
<% @all_artists.each do |artist| %>
  <li><a href="/artist/<%= artist.id %>"><%= artist.name %></a></li>
<% end %>
</ul>

<a href="/artist/new">Don't see one you like? Click here to submit a new artist.</a>