<div class="artist-name-header">
  <h1><%= @artist.name %></h1>
</div>


<img class="artist-photo" src="<%= @artist.pic_url %>">
<div class="artist-bio">
  <h2>Bio</h2>
  <p><%= @artist.bio %></p>
</div>

<a href="/artist/<%=@artist.id%>/edit">Information not correct? Click here to edit this artist.</a>