<form action="/artist/<%= @artist.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="artist[name]" value="<%= @artist.name %>">
  <input type="text" name="artist[pic_url]" value="<%= @artist.pic_url %>">
  <input type="text" name="artist[bio]" value="<%= @artist.bio %>">
  <input type="submit" value="Edit Artist">

</form>