<h1>Submit a new Artist</h1>
<form action="/artist/new" method="POST">
  <div>
    Artist name<input type="text" name="artist[name]">
  </div>

  <div>
    Artist pic(url)<input type="text" name="artist[pic_url]">
  </div>

  <div>
    Artist bio<textarea cols="40" rows="4"name="artist[bio]"></textarea>
  </div>

  <input type="submit" value="Submit Artist">
</form>