<h1><%=@user.name%>'s Profile</h1>
<div class="delete-account">
Delete Account
</div>

<div class="all-artists-link">
Browse All Artists
</div>



<div class="followed-artists-list">
<%= @user.name %> is currently following:
</div>

