<div class="p4 bg-cover bg-center white bg-gray" style="background-image: url(https://eminencemassage.com/wp-content/uploads/concert-crowd.jpg)">
  <h1 class="h1 h0-responsive caps mt4 mb0 regular white center py2">Welcome to Musicspace</h1>
  <p class="h3 white center">View and follow your favorite artists.</p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="col-1 px2 mx-auto">
  <a href="/signup" class="h3 button button-big mb4">Signup</a>
  </div>
  <div class="col-1 px2 mx-auto">
  <a href="/login" class="h3 button button-big mb4">Login</a>
  </div>
</div>

